%h3 Get ready to create your world
%p
  Follow these easy steps to create your world.
  %ol
    %li 
      Install Ruby (
      = link "link", "http://www.ruby-lang.org/en/downloads/"
      \)
    %li 'gem install shattered_light --include-dependencies' (typed in a console without 's)
    %li 'shattered setup your_game'
%br.clear
%br
Your world has been Shattered. Proceed to the 
= link "Documentation"
\.
  