%h3
  Shattered Light is a Light-Weight Ruby Game Framework
%img.floatTL{"src"=>"/images/shattered_code.png"}/
%p
  Shattered Light aims to give you the power!
  %br
  The power to make 3D games quickly,
  %br
  The encouragement to Do Things Right,
  %br
  and the power to customize for your development team!
%br.clear
.post
  %h3
    Shattered Light has arrived!
  %ul.post_info
    %li.date
      03.29.08
  %p
    Shattered Light is a culmination of experience with projects and with people.  Shattered Light aims to keep the cool zero-setup, zero-effort of Shattered Ruby, and provide more flexibility for your environment.
    %br
    We are accomplishing this by narrowing down the scope of Shattered and removing any components that do not need to exist.
    
    %br
    = link "Download"
    and get started with Shattered Light.
  %h3
    Shattered Ruby has been superceded!
  %p
    Our current focus is Shattered Light and OgreRB, which is based on shattered ruby, but refactored significantly.  Shattered Light 
      seeks to keep the core of your game light, while still providing you with the tools to create complex games. 
    %br
    If you would like to help with this effort (demos, testing, expanding C++ wrappers, documentation, tutorials), please visit http://ogrerb.rubyforge.org and get in contact with the shattered ruby community!
