.post
  %h3
    Screen Shots Galore!
  %ul.post_info
    %li.date
      01.02.08
  %p
    Anything is possible with Ruby - nice looking code, robotic demon unicorns, heck even quickly running 3d code.
  %p
    Note that these screenshots were taken from ogre.rb
%p
  = img "ogrerb_cg.png"
  = img "ogrerb_grass.png"
  = img "ogrerb_skyplane.png"
%br.clear
