quit     => press :escape
toggleIdle => press :i
clientResetScene => press :space
shootBox(getCameraTargetPosition()) => press :period
@shootBoxInitialSpeed += 10.0 => press :plus
@shootBoxInitialSpeed -= 10.0 => press :minus